<mat-card>
  <mat-card-title>My ticket statistics for {{currentYear}}</mat-card-title>
  <mat-card-content>
    <span *ngIf="!myStats">You have no tickets for {{currentYear}}</span>
    <table *ngIf="myStats">
      <ng-container style="display: flex; flex-direction: column;">
        <th>Money spent for tickets</th>
        <td>{{ myStats.allPrice }}</td>
      </ng-container>
  
      <ng-container>
        <th>Average price</th>
        <td>{{ myStats.avgPrice }}</td>
      </ng-container>
  
      <ng-container>
        <th>Most expensive ticket</th>
        <td>
          {{ myStats.maxPrice }}
        </td>
      </ng-container>
  
      <ng-container>
        <th>Cheapest ticket</th>
        <td>{{ myStats.minPrice }}</td>
      </ng-container>
    </table>
  </mat-card-content>
</mat-card>

<div class="tableContainer">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="From">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.from }}</td>
    </ng-container>

    <ng-container matColumnDef="To">
      <th mat-header-cell *matHeaderCellDef>To</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.to }}</td>
    </ng-container>

    <ng-container matColumnDef="Start">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let ticket">
        {{ ticket.start | date: "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.price }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
